*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
   background-color: #d0c8c8; 
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    
}
/* SASO */
.logo a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* home, products, about and contact */
.nav-links{
    margin-left: 90px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}
.nav-links a:hover {
    color: gold;
}

/* signin signup */
.user-actions a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
}
.user-actions a:hover {
    color: gold;
    }

/* cart and fav */
.user-actions .icon {
    font-size: 20px;
    margin-right: -25px;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
    color: white;    
}
/* end of the navbar */


/* the beginning of the content */
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
    margin: 100px;
}

.products{
    width: 200px;
    margin: 20px 30px;    
}

.products img{
    width: 100%;
    height: auto;
    border-radius: 10px; 
}

.product-content{
    padding: 18px;
}

.product-content h3{
    font-size:20px;
    margin-bottom: 8px;
}

.products:hover{
    background-color:rgba(219, 217, 206, 0.491);
    cursor: pointer;
    border-radius: 10px;
}

  /* details botton's style */
.btn{
    display: inline-block;
    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.829);
    margin: 30px 10px 10px 140px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(251, 251, 249);
}
.btn:hover{  
    color:gold;
}





